[user]
	name = bramj
	email = ik@bramjans.com
[push]
	default = simple
[alias]

	# From http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

	ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"

	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lag = log -p
	clg = log --pretty=format:'- %s' --first-parent
	unstage = reset HEAD
	ff = flow feature finish
	fs = flow feature start
	s = status
	d = diff
	a = add
	co = checkout
	b = branch
	l = log
	f = fetch
	r = reset
	p = push
        ph = push origin HEAD
	c = commit
[core]
	excludesfile = /Users/bram/.gitignore_global
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
